node_modules/

npm-debug.log

firebase-debug.log

.firebase

.vscode/

.env

.runtimeconfig.json

netlify/functions/service-account.json
netlify/functions/service-account.json.base64
# Local Netlify folder
.netlify

demurodas-eb483854ff19.json